html, body {
    height: 100%;
    margin: 0;
  }
  
  .homepage-container {
    display: flex;
    min-height: 100vh; /* Use min-height to ensure the container takes at least the full viewport height */
    background-color: #0a0909; /* Adjust the background color as needed */
  }
  
  
  .image-container {
    flex: 1;
    width: 65%;
    height: 100%;
    position: relative;
  }
  
  .display-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .slick-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  
  .slick-dots li {
    margin: 0 5px;
    list-style: none;
  }
  
  .slick-dots li button {
    width: 10px;
    height: 10px;
    border: 2px solid #fff; /* White border */
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .slick-dots li.slick-active button {
    background-color: #fff; /* White background for active circle */
  }
  
  .user-selection-container {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ebe6e6;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  p {
    font-size: 1.3em;
    color: #868282;
    margin-bottom: 30px;
  }

  a {
    text-decoration: none; /* Remove underline */
    color: #ee9595; /* Change color to your preferred color */
  }
  
  
  .role-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .role-button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #007bff; /* Button color */
    color: #fff; /* Text color */
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .role-button:hover {
    background-color: #0056b3; /* Hover color */
  }



/* CSS  for button*/
.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}
  

/* sign in */

.signin-container {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Adjust the alpha value for the desired lightness */
  border-radius: 8px;
  width: 400px; /* Adjust the width as needed */
  height: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* SignUp.css */

h1.signin-heading {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #0a0909; /* Dark color for the text */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


.input-container {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #0a0909; /* Dark color for labels */
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #868282;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.signin-button {
  padding: 15px 30px; /* Adjust padding for larger buttons */
  font-size: 1.2em; /* Adjust font size for larger buttons */
  cursor: pointer;
  background-color: #FF013C;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}